In [2]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv('england-premier-league-2007-to-2008.csv')
df1 = pd.read_csv('england-premier-league-2008-to-2009.csv')
df2 = pd.read_csv('england-premier-league-2009-to-2010.csv')
df3 = pd.read_csv('england-premier-league-2011-to-2012.csv')
df4 = pd.read_csv('england-premier-league-2012-to-2013.csv')
df5 = pd.read_csv('england-premier-league-2013-to-2014.csv')
df6 = pd.read_csv('england-premier-league-2014-to-2015.csv')
df7 = pd.read_csv('england-premier-league-2015-to-2016.csv')
df8 = pd.read_csv('england-premier-league-2016-to-2017.csv')
df9 = pd.read_csv('england-premier-league-2017-to-2018.csv')
df10 = pd.read_csv('england-premier-league-2018-to-2019.csv')
df11 = pd.read_csv('england-premier-league-2019-to-2020.csv')
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,E0,11/08/07,Aston Villa,Liverpool,1,2,A,0,1,A,...,2.30,2.14,1.70,1.63,26,0.50,1.95,1.85,2.07,1.95
1,E0,11/08/07,Bolton,Newcastle,1,3,A,0,3,A,...,2.33,2.10,1.75,1.65,26,0.00,1.83,1.75,2.18,2.04
2,E0,11/08/07,Derby,Portsmouth,2,2,D,1,1,D,...,2.35,2.13,1.90,1.63,25,0.00,2.26,2.09,1.76,1.71
3,E0,11/08/07,Everton,Wigan,2,1,H,1,0,H,...,2.20,2.00,1.83,1.73,26,-0.75,1.97,1.94,2.02,1.94
4,E0,11/08/07,Middlesbrough,Blackburn,1,2,A,1,0,H,...,2.30,2.08,1.75,1.67,26,0.00,1.90,1.77,2.10,1.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,11/05/08,Portsmouth,Fulham,0,1,A,0,0,D,...,2.05,1.94,1.90,1.80,26,0.00,2.50,2.34,1.57,1.54
376,E0,11/05/08,Sunderland,Arsenal,0,1,A,0,1,A,...,1.82,1.74,2.25,2.00,27,0.00,3.70,3.13,1.36,1.32
377,E0,11/05/08,Tottenham,Liverpool,0,2,A,0,0,D,...,1.75,1.69,2.25,2.07,26,0.00,2.01,1.91,1.94,1.87
378,E0,11/05/08,West Ham,Aston Villa,2,2,D,1,1,D,...,1.85,1.74,2.20,2.00,28,0.00,2.50,2.26,1.67,1.58
379,E0,11/05/08,Wigan,Man United,0,2,A,0,1,A,...,1.70,1.58,2.45,2.24,25,0.00,10.00,9.06,1.06,1.04

In [48]:
soccer = pd.concat([df, df1, df2,df3,df4,df5,df6,df7,df8,df9,df10,df11], axis=0)
soccer = soccer.loc[:,'Div':'AR']
print(soccer.isna().sum())
soccer

Div         1
Date        1
HomeTeam    1
AwayTeam    1
FTHG        1
FTAG        1
FTR         1
HTHG        1
HTAG        1
HTR         1
Referee     1
HS          1
AS          1
HST         1
AST         1
HF          1
AF          1
HC          1
AC          1
HY          1
AY          1
HR          1
AR          1
dtype: int64

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,11/08/07,Aston Villa,Liverpool,1.0,2.0,A,0.0,1.0,A,...,6.0,7.0,18.0,11.0,4.0,2.0,4.0,2.0,0.0,0.0
1,E0,11/08/07,Bolton,Newcastle,1.0,3.0,A,0.0,3.0,A,...,9.0,5.0,15.0,16.0,4.0,3.0,1.0,1.0,0.0,0.0
2,E0,11/08/07,Derby,Portsmouth,2.0,2.0,D,1.0,1.0,D,...,5.0,6.0,14.0,17.0,6.0,6.0,1.0,2.0,0.0,0.0
3,E0,11/08/07,Everton,Wigan,2.0,1.0,H,1.0,0.0,H,...,8.0,4.0,8.0,13.0,6.0,2.0,0.0,0.0,0.0,0.0
4,E0,11/08/07,Middlesbrough,Blackburn,1.0,2.0,A,1.0,0.0,H,...,6.0,4.0,16.0,16.0,13.0,3.0,3.0,4.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,E0,01/01/2020,Watford,Wolves,2.0,1.0,H,1.0,0.0,H,...,3.0,4.0,12.0,6.0,4.0,7.0,3.0,1.0,1.0,0.0
204,E0,01/01/2020,Man City,Everton,2.0,1.0,H,0.0,0.0,D,...,7.0,2.0,11.0,11.0,3.0,6.0,0.0,4.0,0.0,0.0
205,E0,01/01/2020,Norwich,Crystal Palace,1.0,1.0,D,1.0,0.0,H,...,4.0,3.0,12.0,9.0,2.0,5.0,5.0,0.0,0.0,0.0
206,E0,01/01/2020,West Ham,Bournemouth,4.0,0.0,H,3.0,0.0,H,...,7.0,2.0,3.0,12.0,9.0,2.0,1.0,2.0,0.0,0.0
207,E0,01/01/2020,Arsenal,Man United,2.0,0.0,H,2.0,0.0,H,...,4.0,4.0,11.0,15.0,1.0,4.0,2.0,0.0,0.0,0.0

In [55]:
soccer = soccer.dropna()
soccer = soccer.reset_index(drop=True)
soccer['Date'] = pd.to_datetime(soccer['Date'])
soccer.dtypes

Div                 object
Date        datetime64[ns]
HomeTeam            object
AwayTeam            object
FTHG               float64
FTAG               float64
FTR                 object
HTHG               float64
HTAG               float64
HTR                 object
Referee             object
HS                 float64
AS                 float64
HST                float64
AST                float64
HF                 float64
AF                 float64
HC                 float64
AC                 float64
HY                 float64
AY                 float64
HR                 float64
AR                 float64
dtype: object